$light-gray: #cac6c3;
$blue_lagoon: #357982;
$gray-medium-light: #eaeaea;
$white: #fff;
$gray-darker: #222;
$moderately-bright-gray: #bbb;
$black_rock: #312C2B;
$pale_orange: #F4A130;
$white: rgba(255, 255, 255, 0.2);
